udemy_react_jonas/theory-slides (react, jonas).pdf

youtube_C++/.vs
ZooManagement/.vs
youtube_MFC/CreateDemo/.vs
youtube_MFC/CreateDemo/CreateDemo.sdf
youtube_MFC/MfcClass/.vs
youtube_MFC/MfcClass/MfcClass.sdf
youtube_MFC/BmpDisplayDemo/.vs
youtube_MFC/BmpDisplayDemo/BmpDisplayDemo.sdf
youtube_MFC/LogonDemo/.vs
youtube_MFC/LogonDemo/LogonDemo.sdf
youtube_MFC/LogonDemo/LogonDemo.opensdf